body {
  font-family: system-ui;
  background: #f3ebe6;
  color: black;
  /*   color: white; */
  text-align: center;
}

#btn {
  margin-top: 1rem;
  background: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  /* padding-right: 10px; */
  /* padding-top:5px; */
  /* padding-bottom: 5px; */
  border-radius: 10px;
  border: none;
}

#btn:hover {
  background: #007bffc7;
}

.dob-text {
  font-weight: bold;
  font-size: 0.85;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}
/* 
#wrapper {
  background-color: #dd5c00;
} */

/* .box {
  height: 100%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #cac7c5;
} */
